@import 'tailwindcss';

@theme inline {
  /* Colors */

  /* Para usar, basta utilizar text-primary (text + nome da variável, o tailwind V4 torna o 'color-' opcional) */
  --color-primary: #f231a5;
  --color-secondary: #3cd3c1;
  --color-main-bg: #06092b;
  --color-white: #fafafa;
  --color-black: #030517;
  --color-light-gray: #eaeaea;
  --color-gray: #8f8f8f;
  --color-dark-gray: #2e2f42;

  /* Para usar, basta utilizar font-family-inter (font-family + nome da variável) */

  /* Typography - usa as variáveis injetadas pelo next/font */
  --font-family-inter:
    var(--font-inter), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-family-fira: var(--font-fira-sans), sans-serif;
  --font-family-playwrite-ro: var(--font-playwrite-ro), sans-serif;

  /* Para usar, basta utilizar text-xsmall (text + nome da variável) */

  /* Font Sizes */
  --text-xsmall: 1.2rem;
  --text-small: 1.4rem;
  --text-medium: 1.6rem;
  --text-large: 1.8rem;
  --text-xlarge: 2rem;
  --text-xxlarge: 2.8rem;

  /* Para utilizar, basta utilizar gap-large (gap + nome da variável) */
  /* Spacings */
  --spacing-xxsmall: 0.8rem;
  --spacing-xsmall: 1.6rem;
  --spacing-small: 2.4rem;
  --spacing-medium: 3.2rem;
  --spacing-large: 4rem;
  --spacing-xlarge: 4.8rem;
  --spacing-xxlarge: 5.6rem;
}

:root {
  /* Grid */

  --grid-container: 130rem;
  --grid-gutter: 3.2rem;

  /* Layers (z-index) */
  --layer-base: 10;
  --layer-menu: 20;
  --layer-overlay: 30;
  --layer-modal: 40;
  --layer-always-on-top: 50;

  /* Font Weights */
  --font-light: 300;
  --font-normal: 400;
  --font-bold: 600;
}

@layer base {
  body {
    @apply bg-main-bg text-white;
  }
}
